* {
  padding: 0;
  margin: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background-image: url(/palm.jpg);
  background-repeat: no-repeat;
  background-position: inherit;
  background-size: cover;
  overflow-x: hidden;
}

.header {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  background: #800080;
  border: #a5a852 solid 5px;
  border-radius: 10px;
  padding: 10px 20px;
  color: #ffffff;
  margin: 10px 8px;
}

.imagecontainer {
  display: grid;
  grid-template-columns: 250px 250px;
  justify-content: center;
  width: 100vw;
  background-image: url(/morr4.jpg);
  background-repeat: no-repeat;
  background-position: inherit;
  background-position: center;
  background-size: cover;
  align-items: baseline;
}

.imagecontain {
  display: flex;
  flex-direction: column;
}

.imagecontain2 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.imagediv {
  text-align: center;
}

.imageparagraph {
  margin: 0;
  padding: 0;
  font-size: 50px;
  font-weight: 900;
  font-family: "Courier New", Courier, monospace;
  text-decoration: line-through;
  text-transform: uppercase;
}

.imageparagraph1 {
  background: #5f0000;
  margin-bottom: 20px;
  border-radius: 10px;
  color: #ffffff;
}

.imageparagraph2 {
  background: #000000;
  margin-bottom: 20px;
  border-radius: 10px;
  color: #ffffff;
}

.imageparagraph3 {
  background: #ffd700;
  margin-bottom: 20px;
  border-radius: 10px;
  color: #ffffff;
}

img {
  max-width: 200px;
  justify-self: center;
  border-radius: 20px;
}
