* {
  padding: 0;
  margin: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background-image: url(./images/mor3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
  transition: background-image 0.5s ease-in-out;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

button {
  font-size: 20px;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  background: none;
  color: white;
  margin-bottom: 10px;
  border: grey solid 3px;
}

.btn {
  background: #030e43;
  color: whitesmoke;
}

a {
  font-size: 30px;
  color: white;
  text-decoration: none;
  border: grey solid 3px;
  padding: 5px 10px;
  border-radius: 10px;
}

.active {
  background-image: url(./images/morr4.jpg);
  font-weight: bolder;
  border: black solid 1px;
}

.bold {
  font-weight: bolder;
  text-decoration: underline;
  color: #171767;
  background: #c0c7ff;
  border-radius: 10px;
  padding: 0 10px 10px;
  margin-top: 5px;
}
